body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Oswald", sans-serif;
  color: #fff;
  background-color: #252934;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  .container {
    padding: 0 1rem;
  }
}

.main_loader {
  text-align: center;
  margin-top: 100px;
}

.page_wrapper {
  padding-top: 85px;
}

a {
  text-decoration: none;
  color: inherit;
}

.bck_b_light {
  background: #999592;
}

.bck_b_dark {
  background: #1f2833;
}

.dialog_alert {
  padding: 51px;
  font-size: 30px;
}

.load_more_container {
  margin-bottom: 50px;
  padding-top: 10px;
  padding-left: 10px;
}
.load__btn--wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.no_result {
  font-size: 40px;
  color: #999592;
  text-align: center;
  padding-top: 40px;
}

.not_found_container {
  font-size: 70px;
  text-align: center;
  padding-top: 70px;
  color: #dddddd;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/*============================
            FORM
==============================*/

input {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;

  background-color: #fff;
  padding: 10px 10px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  background: #66fcf1;
  border: none;
  margin-top: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #7e7d79;
  transition: all 200ms ease-in;
}

button:hover {
  background-color: #45a29e;
  color: #fff;
}

.error_label {
  color: #f44336;
  display: block;
  font-size: 15px;
}

textarea {
  width: 100%;
  height: 51px;
  font-size: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid #d1d1d1;
}

.form_devider {
  border-bottom: 3px solid #999592;
  margin: 40px 0px;
}

.label_inputs {
  display: inline-block;
  background: #999592;
  color: #fff;
  padding: 5px 5px;
}

select {
  font-size: 16px;
  height: 38px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}
.formBlock {
  margin-bottom: 10px;
}

.form_block_two {
  display: flex;
}
.form_block_two .block {
  flex-grow: 1;
  box-sizing: border-box;
}

.form_block_two .block:nth-child(1) {
  padding-right: 10px;
}
.form_block_two .block:nth-child(2) {
  padding-left: 10px;
}

.form_success {
  background: #4caf50;
  color: #ffffffff;
  padding: 10px;
  display: block;
}

/*============================
            BUTTONS
==============================*/
.link_default {
  text-transform: uppercase;
  padding: 10px;
  display: table;
  background: #66fcf1;
  color: #7e7d79;
  margin-top: 10px;
  transition: all 200ms ease-in;
}

.card_link,
.bag_link,
.add_to_cart_link {
  width: 100%;
  border: 1px solid #45a29e;
  padding: 5px 10px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #7e7d79;
  background: #66fcf1;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.link_default:hover,
.card_link:hover,
.bag_link:hover,
.add_to_cart_link:hover {
  background: #45a29e;
  color: #ffff;
}
.add_to_cart_link {
  color: #6b6b6b;
  background: #d9d9d9;
}
.add_to_cart_link svg {
  margin-right: 10px;
}

.action_button {
  text-transform: uppercase;
  padding: 10px;
  display: table;
  background: #e1ddc3;
  margin-top: 10px;
}

/*============================
        PAGE TOP
==============================*/

.page_top {
  border-bottom: 1px solid #999592;
  padding: 20px 0px;
  text-transform: uppercase;
}

/*============================
            FOOTER
==============================*/

footer .logo {
  text-align: center;
  padding: 11px 0px;
  border-bottom: 1px solid #4d4d4d;
}
footer .logo img {
  width: 140px;
}

footer .wrapper {
  display: flex;
  gap: 20px;
  color: #828282;
}
@media screen and (max-width: 786px) {
  footer .wrapper {
    flex-direction: column;
    padding: 0 20px;
  }
}

footer .left,
footer .right {
  flex: 1;
}

footer .business_nfo {
  display: flex;
  flex-wrap: wrap;
}

footer .business_nfo .tag {
  flex-grow: 1;
  position: relative;
  width: 50%;
  margin-bottom: 30px;
}
footer .business_nfo .icon {
  position: absolute;
  font-size: 26px;
  top: 10px;
}
footer .business_nfo .nfo {
  padding-left: 40px;
}

/*============================
        FEATURED IMAGE
==============================*/

.tag {
  background: #474343;
  color: #ffffff;
  padding: 0px 20px;
  text-transform: uppercase;
  display: table;
}

.tag__title {
  font-size: 70px;
  font-weight: 700;
  text-shadow: 1px 1px #d1d1d1;
}

.tag__low_title {
  font-size: 50px;
  font-weight: 300;
  margin-top: 10px;
}

/*============================
        FEATURED PROMOTION
==============================*/

.home_promotion .home_promotion_img {
  height: 440px;
  background-size: cover !important;
  background-position: center center !important;
  padding: 73px;
  box-sizing: border-box;
}

.home_promotion .tag {
  background: #82828287;
  color: #ffffff;
  padding: 0px 20px;
  text-transform: uppercase;
  display: table;
}

.home_promotion .tag.title {
  font-size: 70px;
  font-weight: 700;
  margin: 10px auto;
}

.home_promotion .tag.low_title {
  font-size: 50px;
  font-weight: 300;
  margin-top: 10px;
  margin: 0 auto;
}

.home_promotion .my_link a {
  margin: 80px auto;
  font-size: 3rem;
}
@media screen and (max-width: 960px) {
  .home_promotion .home_promotion_img {
    height: 320px;
    padding: 45px;
  }
  .home_promotion .my_link a {
    margin: 50px auto;
    font-size: 2rem;
  }
  .home_promotion .tag.title {
    font-size: 50px;
    font-weight: 700;
  }

  .home_promotion .tag.low_title {
    font-size: 35px;
  }
}
@media screen and (max-width: 640px) {
  .home_promotion .home_promotion_img {
    height: 240px;
    padding: 25px;
  }
  .home_promotion .my_link a {
    margin: 30px auto;
    font-size: 1.4rem;
  }
  .home_promotion .tag.title {
    font-size: 34px;
    font-weight: 700;
  }

  .home_promotion .tag.low_title {
    font-size: 22px;
  }
}
/*============================
        CARD BLOCK
==============================*/

.card_block {
  margin: 110px 0px;
}

.card_block .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

.card_block_shop {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 10px;
}
@media screen and (max-width: 760px) {
  .card_block_shop {
    grid-template-columns: 1fr;
  }
}

.grid_as_list .card_block_shop {
  grid-template-columns: 1fr;
}
/*============================
        SHOP
==============================*/

.shop_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shop_wrapper .left {
  width: 300px;
}
@media screen and (max-width: 460px) {
  .shop_wrapper .left {
    display: none;
  }
}

.shop_wrapper .right {
  /* max-width: 800px; */
  width: 100%;
}

.collapse_title span {
  text-transform: uppercase;
  font-weight: 700;
}

.grid_btn {
  float: right;
  padding: 10px 10px;
  font-size: 20px;
  color: #727272;
  cursor: pointer;
}
.grid_btn.active {
  color: #c6c6c6;
}

.shop_options {
  border-bottom: 1px solid #e8e8e8;
  margin: 0px 20px 20px 20px;
}

/*============================
        PRODUCT DETAIL
==============================*/

.product_detail_wrapper {
  display: flex;
  margin-bottom: 140px;
}

.product_detail_wrapper .right {
  flex-grow: 1;
  min-height: 800px;
}

.product_detail_wrapper p {
  font-size: 17px;
  font-family: Arial, Helvetica;
  font-weight: lighter;
}

.product_detail_wrapper .product_tags {
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
}

.product_detail_wrapper .product_tags .tag {
  display: flex;
  margin-bottom: 20px;
}

.product_detail_wrapper .product_tags .tag svg {
  font-size: 43px;
  color: #e4e4e4;
  width: 50px;
}

.product_detail_wrapper .product_tags .tag .tag_text {
  font-size: 14px;
  text-transform: uppercase;
  color: #999592;
  padding-left: 20px;
}

.product_detail_wrapper .product_actions .price {
  font-size: 40px;
  font-weight: 300;
}
.product_detail_wrapper .product_actions .cart {
  width: 149px;
}
.user_cart_sum {
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  background: #29384b;
  padding: 20px 30px;
}

.cart_no_items svg,
.cart_success svg {
  font-size: 130px;
  color: #717171;
}
.cart_no_items,
.cart_success {
  text-align: center;
  font-size: 28px;
  color: #999592;
}

.product_detail_wrapper .product_actions {
  padding: 20px 0px 30px 0px;
  border-bottom: 1px solid #d3d3d3;
}

.product_detail_wrapper .product_specifications .item {
  font-size: 15px;
  text-transform: uppercase;
  color: #838383;
}

.product_detail_wrapper .product_image_container {
  margin-top: 30px;
  padding-right: 70px;
}

.product_detail_wrapper .main_pic {
  box-sizing: border-box;
  cursor: pointer;
}

.product_detail_wrapper .main_pic div {
  width: 100%;
  height: 446px;
  border: 1px solid #d9d9d9;
  background-size: contain !important;
  background-position: center center !important;
}

.product_detail_wrapper .main_thumbs {
  margin-top: 10px;
}

.product_detail_wrapper .main_thumbs .thumb {
  cursor: pointer;
  height: 200px;
  width: 50%;
  background-size: cover !important;
  background-position: bottom center !important;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  float: left;
}

.paypal_button_container {
  margin: 10px 0px;
  background-color: #e3ebee;
  padding: 1rem;
}

/*=============================
         REGISTER LOGIN
===============================*/

.register_login_container {
  display: flex;
  background-color: #333f5a55;
  border: 1px solid #999592;
  border-top: 5px solid #999592;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 80px 0px 110px 0px;
  padding: 30px;
  min-height: 430px;
}

.register_login_container .left,
.register_login_container .right {
  flex: 1;
}

.register_login_container h2 {
  margin: 20px 0px;
  text-transform: uppercase;
  color: #fafafa;
}

.register_login_container p {
  font-weight: 300;
  font-size: 16px;
  width: 90%;
}

/*=============================
         USER
===============================*/

.user_container {
  display: flex;
  margin-bottom: 50px;
  min-height: 700px;
}

.user_container .user_left_nav {
  border-right: 1px solid #f8f8f8;
}

.user_container .user_left_nav .links a {
  display: block;
  border-bottom: 1px solid #dddddd;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0px;
  width: 280px;
}
@media screen and (max-width: 900px) {
  .user_container .user_left_nav .links a {
    font-size: 16px;
    width: 150px;
  }
}
.user_container .user_right_nav {
  flex-grow: 1;
  padding: 0 0 0 29px;
}

.user_container .user_nfo_panel {
  background: #1f2833;
  padding: 20px;
  margin-top: 20px;
}

.user_container .user_nfo_panel h1 {
  margin: 0 0 20px 0;
  line-height: 32px;
  text-transform: uppercase;
  font-size: 25px;
}

.user_container .user_nfo_panel span {
  display: block;
  font-size: 18px;
  font-weight: 300;
}

.user_product_block {
  display: flex;
  flex-wrap: wrap;
  background: #1f2833;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ebebeb;
}

.user_product_block .item {
  flex-grow: 1;
}

.user_product_block .item .image {
  height: 125px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  margin-right: 10px;
}
.user_product_block .item.btn {
  width: 0px;
}

.user_product_block .cart_remove_btn {
  cursor: pointer;
  background: #f44336;
  display: inline-block;
  padding: 5px 10px;
  color: #ffffff;
  margin-top: 50px;
}

/*=============================
         ADMIN
===============================*/

.admin_category_wrapper {
  padding-bottom: 50px;
  border-bottom: 4px solid #e9e9e9;
}

.admin_two_column {
  display: flex;
}

.admin_two_column .right {
  flex-grow: 1;
}
.brands_container {
  height: 200px;
  overflow-y: scroll;
  margin-right: 20px;
}

.brands_container .category_item {
  width: 200px;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid #f1f1f1;
  padding: 10px;
  position: relative;
  background: #999592;
  color: #fff;
}

.dropzone {
  border: 1px solid #e5e5e5;
  margin-bottom: 40px;
}

.dropzone_box {
  float: left;
  width: 25%;
  height: 160px;
  padding: 10px;
  box-sizing: border-box;
}

.dropzone_box .wrap {
  background: #eaeaea;
  height: 100%;
  text-align: center;
  padding-top: 31px;
  box-sizing: border-box;
  font-size: 49px;
  background-size: contain !important;
  background-position: center center !important;
  border: 1px solid #eaeaea;
}
